#txtName , #txtDesc ,#txtPrice , #txtCategory , #txtItemName , #txtItemQty , #txtStockLevel{
    -fx-background-color: transparent;
    -fx-border-color: #FF971D;
    -fx-border-width: 0 0 2px 0;
    -fx-text-fill: black;
}

#btAddItem , #btImageChoose {
    -fx-background-color: transparent;
    -fx-border-color: #FF971D;
    -fx-text-fill: black;
}

#btAddItem:hover , #btImageChoose:hover {
    -fx-border-color: black;
    -fx-text-fill: black;
}
