#btUpdateItem {
    -fx-background-color: transparent;
    -fx-border-color: #FF971D;
    -fx-text-fill: black;
}

#btnAddItem:hover, #btDeleteItem:hover , #btUpdateItem:hover  {
    -fx-border-color: black;
    -fx-text-fill: black;
}
