#menuAnchor{
    -fx-background-color: #F9F6F7;
}

#itemAnchor{
    -fx-background-color: #FFFFFF;
}

#searchField{
    -fx-background-color: transparent;
    -fx-border-color: #FF971D;
    -fx-border-width: 0 0 2px 0;
    -fx-text-fill: black;
}

#scrollPanle{
    -fx-background-color: transparent;
}